.root {
  background-color: var(--background-light);
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  width: 100%;
  padding: 22px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  height: 32px;
  width: auto;
}
