.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-top: 1px solid var(--color-border);
}

.label {
  margin-right: auto;
  font-weight: 500;
}

.label span {
  font-weight: normal;
}

.controls {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  gap: 6px;
}

.pageIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-sm);
  color: white;
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  border-radius: 2px;
}

@media (max-width: 659px) {
  .controls {
    right: 20px;
    transform: translateX(0);
  }
}
